
body{
   margin: 0;
   padding: 0; 
   background: url(Fotos/Ros\ puente.jpg) no-repeat 
   center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    
header{
    width: 100%;
    background: rgb(255, 255, 255);
    height: 100px;
}
.ancho{
    width: 80%;
    height: 70px;
    background: rgb(255, 255, 255);
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    background: rgb(255, 255, 255);
    float: left;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    width: 70%;
    height: 70px;
    background: rgb(255, 255, 255);
    float: left;
    padding-top: 24px;
    box-sizing: border-box;
}

.logo p a {
    color:white;
    font-size: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: rgb(5, 0, 0);
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li a:hover{
    color: rgb(252, 0, 0);
}

/* COVID REQUISITOS*/
        
        .covid {
            color: cornsilk;
            background: #1ABC9C;
            position: fixed;
            display: inline-block;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            bottom: 50;
            top: 50;
            left: 0;
            right: 0;
            text-align: center;
        }
        .covid b a{
            text-decoration: none;
            color: white;
        }
/*CONTENIDO PRINCIPAL*/

.img{
    border:rgb(15, 14, 14);
    display: inline-block;
    text-decoration: none;
}

/*FOOTER*/
*{box-sizing:border-box;}

    	.container{
            
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
            text-align: center;
		}
.redes{
    color: white;
    text-align: center;
}
.fin{
    color: white;
    text-align: center;
}


/*FOOTER*/
footer{
   
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:rgb(5, 0, 0);
    color: white;
    text-align: center;
    
}

		