
body{
   margin: 0;
   padding: 0; 
   background: white 
   center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    
header{
    width: 100%;
    background: rgb(255, 255, 255);
    height: 100px;
}
.ancho{
    width: 80%;
    height: 70px;
    background: rgb(255, 255, 255);
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    background: rgb(255, 255, 255);
    float: left;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    width: 70%;
    height: 70px;
    background: rgb(255, 255, 255);
    float: left;
    padding-top: 24px;
    box-sizing: border-box;
}

.logo p a {
    color:white;
    font-size: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: rgb(5, 0, 0);
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li a:hover{
    color: rgb(252, 0, 0);
}

/* COVID REQUISITOS*/
        
        .covid {
            color: cornsilk;
            background: #1ABC9C;
            position: fixed;
            display: inline-block;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            bottom: 50;
            top: 50;
            left: 0;
            right: 0;
            text-align: center;
        }
        .covid b a{
            position: fixed;
            text-decoration: none;
            color: white;
        }
/*CONTENIDO PRINCIPAL*/



/*SOBRE NOSOTROS*/
#page_caption{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.top_bar, #page_caption, #nav_wrapper{
    border-color: grey;
}
#page_caption .page_title_wrapper{
    width: 100%;
    margin: auto;
    text-align: center;
}
#page_caption h1, .post_caption h1{
    line-height: 1.3em;
}
#page_caption h1{
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.page_tagline{
    letter-spacing: 0px;
    text-transform: none;
    font-weight: none;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nosotros{
    margin: 0 !important;
    clear: both;
    position: relative;
    float: right;
    width: 100%;
    box-sizing: border-box;
}
.parallax{
    margin-top: 50px;
    
    background-repeat: no-repeat;
    float: right;
    }
.ppb_title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ppb_header_content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*FOOTER*/

.pie{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 1;
    left: 0;
    background-color:rgb(5, 0, 0);
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
