body{
   margin: 0;
   padding: 0;
   background: url(Fotos/Ros\ mon.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-danger{
    color: red
} 
header{
    width: 100%;
    background: rgb(255, 255, 255);
    height: 100px;
}
.ancho{
    width: 80%;
    height: 70px;
    background: rgb(255, 255, 255);
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    background: rgb(255, 255, 255);
    float: left;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    width: 70%;
    height: 70px;
    background: rgb(255, 255, 255);
    float: left;
    padding-top: 24px;
    box-sizing: border-box;
}

.logo p a {
    color:white;
    font-size: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: rgb(5, 0, 0);
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li a:hover{
    color: rgb(252, 0, 0);
}


/* COVID REQUISITOS*/
        
        .covid {
            color: cornsilk;
            background: #1ABC9C;
            position:absolute;
            align-content:center;
            display: inline-block;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            bottom: 50;
            top: 50;
            left: 0;
            right: 0;
            text-align: center;
        }
        .covid b a{
            text-decoration: none;
            color: white;
        }
/*CONTENIDO PRINCIPAL*/

form{
     width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 1px;
    box-shadow: 0 0 20px 1 px rgba(0,0,0,0.3);
    position: relative;
  }

button{
    width: 500px;
    max-width: 50%;
    margin: 50px auto;
    margin-top: 10px;
    padding: 5px;
    background-color:grey;
    box-shadow: 2px 2px;
    
}
.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 1px;
    box-shadow: 0 0 20px 1 px rgba(0,0,0,0.3);
    position: relative;
}

.fomulairo__titulo{
    text-align: center;
    margin-top: 0;
    color: (0,0,0,0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.formulario__input{
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;

}
textarea{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}
#txtVista{
    width: 500px;
    max-width: 100%;
    margin: auto;
    
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}

/*form {
   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    vertical-align: baseline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Intro {
background-color: aliceblue;
backdrop-filter: blur(80%);
padding-bottom: 20px;*/
/*FOOTER*/


footer{
   
    width: 100%;
    height: 200px;
    position:absolute;
    left: 0;
    background-color:rgb(5, 0, 0);
    color: white;
    text-align: center;

}
